body{
    background-color:#46AFFF;
    color: white;
    margin: 1;
    padding: 1;
}
menu{
    background-color: #B3700C;
}
menu ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
menu ul li{
    padding: 20px;
    font-size: 2em;
}
menu ul li a{
    text-decoration: none;
    color: white;
}
menu ul li a:hover{
    color: #FFB545;
}
